.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #dfcdbf;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: rgb(5, 5, 5);
  
}

.App-link {
  color: #61dafb;
}

.btn {
  display: inline-block;
  padding: 15px 25px;
  font-size: 24px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  outline: none;
  color: #fff;
  background-color: #044406fd;
  border: none;
  border-radius: 15px;
  box-shadow: 0 9px rgb(36, 32, 32);
}

.btn:hover {background-color: #d84936}

.btn:active {
  background-color: #91570c;
  box-shadow: 0 5px rgb(141, 129, 129);
  transform: translateY(4px);
}



@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
